/* body{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(247, 213, 213, 0.603),
        rgba(196, 245, 196, 0.495),
        rgba(140, 140, 168, 0.685)) , url("./R\ \(1\).jpg");
} */

/* 
article{
    /* font-variant: small-caps; */
    /* font-size: large; */
    /* font-variant: small-caps; */


/* P{
    font-variant: small-caps;
} */